
<div class="container">
  <div class="card mt-4">
    <div class="card-header"><h2 class="text-center">ADD PRODUCT</h2></div>
    <div class="card-body">
      <div class="row">       
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="name">Name:</label>
            <input type="text" name="name" [(ngModel)]="productForm.name" class="form-control" />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="excerpt">Excerpt:</label>
            <input type="text" name="excerpt" [(ngModel)]="productForm.excerpt" class="form-control" />
          </div>
        </div>
        
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="price">Price:</label>
            <input type="text" name="price" [(ngModel)]="productForm.price" class="form-control" />
          </div>
        </div>
        <div class="col-8">
          <div class="form-group mb-3">
            <label for="description">Body:</label>
            <textarea name="description" [(ngModel)]="productForm.description" id="" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="category">Category:</label>
            <select name="category" [(ngModel)]="productForm.category" class="form-control">
              <option [value]="category" *ngFor="let category of categories" >{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="stock">Stock:</label>
            <input type="text" name="stock" [(ngModel)]="productForm.stock" class="form-control" />
          </div>
        </div>

        <div class="col-4">
          <div class="form-group mb-3">
            <label for="image">URL Image:</label>
            <input type="file" name="image" [(ngModel)]="productForm.image" (change)="loadImage($event)" class="form-control" />
          </div>
        </div>
        
        <div class="col-4">
          <div class="form-group mb-3">
            <label for="status">STATUS:</label>
            <select name="status" [(ngModel)]="productForm.status" class="form-control">
              <option value="true">ON</option>
              <option value="false">OFF</option>
            </select>
          </div>
        </div>
      
        <div class="col-12">
          <div class="form-group d-grid gap-2 mt-4">
            <button (click)="addProduct()" class="btn btn-primary btn-lg">SUBMIT</button>
          </div>
        </div>    
        
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class="card mt-4">
    <div class="card-header"><h2 class="text-center">PRODUCT LIST</h2></div>
    <div class="card-body">
      <div class="row">  
        <table class="table table-striped table-hover table-bordered table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>EXCERPT</th>
              <th>PRICE</th>
              <th>STOCK</th>
              <th>IMAGE</th>
              <th>STATUS</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


