<div class="container">
  <div class="row mt-4">
    <div class="col-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">SIGNIN</h2>
        </div>
        <div class="card-body">      
          <div class="form-group">
            <label for="username">USERNAME:</label>
            <input type="text" name="username" [(ngModel)]="loginForm.username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">PASSWORD:</label>
            <input type="password" name="password" [(ngModel)]="loginForm.password" class="form-control">
          </div>
          <div class="form-group d-grid gap-2 mt-4">
            <button (click)="login()" class="btn-primary btn-lg">SIGNIN</button>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>